{% extends "blog/base.html" %}

{% block content %}
    <style>
        body {
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .card {
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 20px;
            max-width: 400px;
            width: 100%;
        }

        .btn-primary {
            width: 100%;
            padding: 10px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
    </style>

    <div class="card" style="text-align: center; margin-top: 50px;">
        <p>Your password has been set.</p>
        <div style="margin-top: 20px;">
            <a href="{% url 'login' %}" class="btn-primary" style="text-decoration: none;">Sign In Here</a>
        </div>
    </div>
{% endblock %}
